/* BlogPage.css */
.pdf-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.responsive-embed {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: none;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .pdf-container {
        height: 100%;
    }

    .responsive-embed {
        height: 85vh;
    }
}

@media (max-width: 480px) {
    .responsive-embed {
        height: 75vh;
    }
}


