.drawing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.drawing-canvas {
    border: 2px solid black;
    cursor: crosshair;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.posted-drawings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.drawing-item {
    margin: 10px;
}

.drawing-item img {
    border: 2px solid black;
    width: 150px;
    height: 150px;
}


.joystick {
    position: relative;
    width: 100px; /* Size of the joystick base */
    height: 100px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 50%;
    overflow: hidden;
}

.joystick-handle {
    position: absolute;
    width: 40px; /* Size of the joystick handle */
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    transition: transform 0.1s; /* Smooth movement */
}
